<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div>
    <div style="background-color:#f9f9f9">

        <div style="margin:0px auto;max-width:640px;background:transparent">
            <table role="presentation" cellpadding="0" cellspacing="0"
                   style="font-size:0px;width:100%;background:transparent" align="center" border="0">
                <tbody>
                <tr>
                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px">
                        <div aria-labelledby="mj-column-per-100" class="m_-6063607966002984259mj-column-per-100"
                             style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                                        <table role="presentation" cellpadding="0" cellspacing="0"
                                               style="border-collapse:collapse;border-spacing:0px" align="center"
                                               border="0">
                                            <tbody>
                                            <tr>
                                                <td style="width:138px"><a>Shnap</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden">
            <div style="margin:0px auto;max-width:640px;background:#ffffff">
                <table role="presentation" cellpadding="0" cellspacing="0"
                       style="font-size:0px;width:100%;background:#ffffff" align="center" border="0">
                    <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px">
                            <div aria-labelledby="mj-column-per-100" class="m_-6063607966002984259mj-column-per-100"
                                 style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                    <tbody>
                                    <tr>
                                        <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                            <div style="color:#737f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left">

                                                <h2 style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px">
                                                    Hey Shnap,</h2>
                                                <p>Your Discord password can be reset by clicking the button below. If
                                                    you did not request a new password, please ignore this email.</p>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px"
                                            align="center">
                                            <table role="presentation" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:separate" align="center" border="0">
                                                <tbody>
                                                <tr>
                                                    <td style="border:none;border-radius:3px;color:white;padding:15px 19px"
                                                        align="center" valign="middle" bgcolor="#5865f2"><a
                                                            href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeL3qPo02hivCd4-2BrzJ3KTksHeDugGQEoT8HMCCK8FgXKDSP3rDxYMySDlSpcu2BYu589xvJnECKPL7GTJQ3W-2FDseP0NAeDwI1arNS-2FIMoizruwio0nIZ49f5O8KPEZ-2BgyP-2FH5mTkswnvjMXTdSo2lwiKgKHtHHdp4L9MKjLrkPSrYlm8hsZPWq4l1bugQ3fXog-3D-3DJaEo_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5y8f688SNj99GF-2Fd8iHu8tJY7tjpwr5uvFimNIg-2FC1CdC2994VqQ6NDE9D6gzic9N7rWoSYJ-2F4FyBzIeYuQh-2FUGI08RX7fWAdhQRR3Th6Slix3QPHp8VuBDfEzelAVD7Rr2JIeNBiZcoo5ovoBAWWk0w-3D-3D"
                                                            style="text-decoration:none;line-height:100%;background:#5865f2;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeL3qPo02hivCd4-2BrzJ3KTksHeDugGQEoT8HMCCK8FgXKDSP3rDxYMySDlSpcu2BYu589xvJnECKPL7GTJQ3W-2FDseP0NAeDwI1arNS-2FIMoizruwio0nIZ49f5O8KPEZ-2BgyP-2FH5mTkswnvjMXTdSo2lwiKgKHtHHdp4L9MKjLrkPSrYlm8hsZPWq4l1bugQ3fXog-3D-3DJaEo_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5y8f688SNj99GF-2Fd8iHu8tJY7tjpwr5uvFimNIg-2FC1CdC2994VqQ6NDE9D6gzic9N7rWoSYJ-2F4FyBzIeYuQh-2FUGI08RX7fWAdhQRR3Th6Slix3QPHp8VuBDfEzelAVD7Rr2JIeNBiZcoo5ovoBAWWk0w-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNEC1T67g1x-lBUrdvi2JhD5WGQW5w">
                                                        Reset Password
                                                    </a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="word-break:break-word;font-size:0px;padding:30px 0px"><p
                                                style="font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                            <div style="color:#747f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:13px;line-height:16px;text-align:left">
                                                <p>Need help? <a
                                                        href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeNlOcN7VC1Mue2BSa5oqYEdKm-2BPBEvWHLEUfi61TfqfxuvBipSaAkPtkAVPOEnBIzw-3D-3DX0iJ_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yJTld8QYpax-2Bx73Y3XFbWHTzKggKJzDnseO2OvXjFFvc-2Fiuhqhi2KjutChGNPs0yEit3ud6t7Wua-2B2Gu1xiVNPCfYpBczflIM6CTwmEgWF-2FhsZfbvsQKeeCxjKOTqTDbspyDi1z0uJxsH2Q8B82DMzQ-3D-3D"
                                                        style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;color:#5865f2"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeNlOcN7VC1Mue2BSa5oqYEdKm-2BPBEvWHLEUfi61TfqfxuvBipSaAkPtkAVPOEnBIzw-3D-3DX0iJ_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yJTld8QYpax-2Bx73Y3XFbWHTzKggKJzDnseO2OvXjFFvc-2Fiuhqhi2KjutChGNPs0yEit3ud6t7Wua-2B2Gu1xiVNPCfYpBczflIM6CTwmEgWF-2FhsZfbvsQKeeCxjKOTqTDbspyDi1z0uJxsH2Q8B82DMzQ-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNGDmVHpLZmWcyfJjjZzf3qPGPXJ4Q">Contact
                                                    our support team</a> or hit us up on Twitter <a
                                                        href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeHLasbud5D3vi74o1Q-2B2VLcLLCDOodJpEqop-2Fc-2F5Wr6ZinT5_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yFu9bksPmfW8rQ4ToieV7YfSkFisj4j5ZreReiZrxv1GaF2LWWrVa9Jadw-2BSXVz6lmGHZkyKqbtSff0Zc4MWKdXv-2Byz7VHxLKtFGN7o4Ph-2Bb265WhsBZhqAQvGLsk4CbFXKMCQkO5ujqqtKcNDkI0zg-3D-3D"
                                                        style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;color:#5865f2"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeHLasbud5D3vi74o1Q-2B2VLcLLCDOodJpEqop-2Fc-2F5Wr6ZinT5_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yFu9bksPmfW8rQ4ToieV7YfSkFisj4j5ZreReiZrxv1GaF2LWWrVa9Jadw-2BSXVz6lmGHZkyKqbtSff0Zc4MWKdXv-2Byz7VHxLKtFGN7o4Ph-2Bb265WhsBZhqAQvGLsk4CbFXKMCQkO5ujqqtKcNDkI0zg-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNF3G1PAvSiHQyfL68M7UGkzIyqyNQ">@discord</a>.<br>
                                                    Want to give us feedback? Let us know what you think on our <a
                                                            href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeGtifxhyb-2FEeTgeN31uAkBS2ZTvlNepPcLUnXgSC4-2BGKOlgC_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yLZAiKD-2BmbYk1s7f6z3CLnnpttnpncCMyAusCCCo-2FU5WRwWcy1IrNLsvjCHhU01zyS9mlt1AQQNriGmtRMeDtJs9I-2BesFLJy2YYPdTW-2FCvhD7e-2FdQHIz-2BjWZDi36QQge-2Fz5y-2BK4SAF0FIZPi81D-2BNsQ-3D-3D"
                                                            style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;color:#5865f2"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeGtifxhyb-2FEeTgeN31uAkBS2ZTvlNepPcLUnXgSC4-2BGKOlgC_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yLZAiKD-2BmbYk1s7f6z3CLnnpttnpncCMyAusCCCo-2FU5WRwWcy1IrNLsvjCHhU01zyS9mlt1AQQNriGmtRMeDtJs9I-2BesFLJy2YYPdTW-2FCvhD7e-2FdQHIz-2BjWZDi36QQge-2Fz5y-2BK4SAF0FIZPi81D-2BNsQ-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNEfD4ScK64LXGqrP-DTS6ZScWZT-A">feedback
                                                        site</a>.</p>

                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin:0px auto;max-width:640px;background:transparent">
            <table role="presentation" cellpadding="0" cellspacing="0"
                   style="font-size:0px;width:100%;background:transparent" align="center" border="0">
                <tbody>
                <tr>
                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px">
                        <div aria-labelledby="mj-column-per-100" class="m_-6063607966002984259mj-column-per-100"
                             style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                                        <div style="color:#99aab5;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center">
                                            Sent by Discord •
                                            <a href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeJH69ZST7vortkxRfT-2FA4A3VjNfCTRtqoYt2A-2FcqUeqS0rbj_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yKZf8FswJEhu20jRHNc9aniOL-2BK1Obez1NCbTS1jr-2B5DUCWGctPGk-2FFAONUAfJDF51RoO0YMPQpmApiycbbx5EDsYxut-2F1HIWFnxf-2BKSTXTCY44i2TN-2Fznvh-2FH1W731hW5aJ836XQhdLLb0vlFpNmrQ-3D-3D"
                                               style="color:#1eb0f4;text-decoration:none" target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeJH69ZST7vortkxRfT-2FA4A3VjNfCTRtqoYt2A-2FcqUeqS0rbj_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yKZf8FswJEhu20jRHNc9aniOL-2BK1Obez1NCbTS1jr-2B5DUCWGctPGk-2FFAONUAfJDF51RoO0YMPQpmApiycbbx5EDsYxut-2F1HIWFnxf-2BKSTXTCY44i2TN-2Fznvh-2FH1W731hW5aJ836XQhdLLb0vlFpNmrQ-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNGLVQz6IPfkRt6_Jdy2jDmJUiHaIw">check
                                                our blog</a>
                                            • <a
                                                href="https://click.discord.com/ls/click?upn=qDOo8cnwIoKzt0aLL1cBeHLasbud5D3vi74o1Q-2B2VLcLLCDOodJpEqop-2Fc-2F5Wr6ZhwEM_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yEZJ-2FJA-2BrWO5-2FlAb-2FhnFPw5KzKWc5YYCCvi83QRCbXzTx0ixiVKwvrV28Rtc9srvIk7W4eKGjbWv7uqkSmDSO76eAwX61HWeCWOt42CTlIZmkp3m12BaKO1RjqElXQNCYXS7-2FdJ26qcvpmJwRW5ADKQ-3D-3D"
                                                style="color:#1eb0f4;text-decoration:none" target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://click.discord.com/ls/click?upn%3DqDOo8cnwIoKzt0aLL1cBeHLasbud5D3vi74o1Q-2B2VLcLLCDOodJpEqop-2Fc-2F5Wr6ZhwEM_B1G9RMKd1GjnfFUCSQvePkhmMjgg26gmgetmDcl7GfnRfYXOLvBhEnWrZ5OHaG5yEZJ-2FJA-2BrWO5-2FlAb-2FhnFPw5KzKWc5YYCCvi83QRCbXzTx0ixiVKwvrV28Rtc9srvIk7W4eKGjbWv7uqkSmDSO76eAwX61HWeCWOt42CTlIZmkp3m12BaKO1RjqElXQNCYXS7-2FdJ26qcvpmJwRW5ADKQ-3D-3D&amp;source=gmail&amp;ust=1621074038673000&amp;usg=AFQjCNFPlu_l-qLKYLbjjntPMNyUhMUG1Q">@discord</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                                        <div style="color:#99aab5;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center">
                                            444 De Haro Street, Suite 200, San Francisco, CA 94107
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                        <div style="color:#000000;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:13px;line-height:22px;text-align:left">
                                            <img src="https://ci3.googleusercontent.com/proxy/rBiOol8vnDFpahLgsxgZjn9W4UWbP_WUT1x8swXiFBsjjmizsfoVAUQT81syA5y9Gu8ZfaAJYcjdHjvFeIl_DuuVai17URgwiW2BNCL-kti1MHbbY_H2Gq7jOlaxMVr9L0xzZjOFMioY4a8_Nxz8ezbo_g_FpzTYdBoyW2Fm-5vJIghiZZKYpfMynw-5WgLTmouaGo1LhCj3-cCxvIkwDGAwuVqMf0lrr8o4GdprGCCYA8ZY-_ST=s0-d-e1-ft#https://discord.com/api/science/281060902063833088/9982c8c6-9ecc-4585-9d0e-a961df6dba71.gif?properties=eyJlbWFpbF90eXBlIjogInVzZXJfcGFzc3dvcmRfcmVzZXRfcmVxdWVzdCJ9"
                                                 width="1" height="1" class="CToWUd">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>