{%extends "base.html"%}
{%block title%}SignUp{%endblock%}

{%block content%}



<br/><br/><br/><br/>
<center>
    <img src={{url_for("static", filename="logo1.png" )}}>
</center>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align:center;font-size:50px">SpyShnap<br/></th>
    </tr>
</table>
<div class="card border-primary mb-3" style="max-width: 30rem;margin:0 auto;">
  <div class="card-body">
      <form action="#" method="post">
  <fieldset>
    <legend>Sign Up</legend>
    {% if error_name != 1 %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    {% else  %}
      <div class="form-group has-danger">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email"  class="form-control is-invalid" id="inputInvalid">
        <div class="invalid-feedback">{{name_error_reason}}</div>
      </div>
    {% endif %}
    {% if error_pass != 1 %}
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" minlength="8" required class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    {% else %}
    <div class="form-group has-danger">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" minlength="8" required class="form-control is-invalid" id="inputInvalid2">
        <div class="invalid-feedback">{{pass_error_reason}}</div>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="document.location='/'" style="float:right">Log In</button>
  </fieldset>
    </form>
  </div>
</div>


<!--<div class="jumbotron">-->
    <!--<form>-->
      <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="max-width:500px">-->
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">Password</label>-->
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="max-width:500px">-->
      <!--</div>-->
      <!--<div class="form-group form-check">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Check me out</label>-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    <!--</form>-->
<!--</div>-->
<!--<div class="jumbotron">-->
  <!--<h1 class="display-3">Hello, world!</h1>-->
  <!--<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
  <!--<hr class="my-4">-->
  <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
  <!--<p class="lead">-->
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  <!--</p>-->
<!--</div>-->
{%endblock%}